<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node builder</title>
    <link rel="stylesheet" href="../public/styles/index.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div style="text-align: center;" class="welcome">
        <div>
            Node-builder
        </div>
        <button style="position: relative;top: -20px;" onclick="redirto('Details');" class="success">Start</button>
    </div>
    <script src="../public/components/index.js"></script>
</body>
</html>