<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/styles/nav.css">
</head>
<body>
    <!-- Nav !-->
    <ul id="nav"> 
        <li><button id="f_creation">File Creation</button></li>
        <li><button id="m_creation">Model Creation</button></li>
        <li><button id="r_manager">Route Manager</button></li>
        <li><button id="p_manager">Package Manager</button></li>
      </ul>
    
Third

  <script>
      require(
          "../public/components/third.js"
      )
  </script>
</body>
</html>