body{
    font-family: 'Roboto', sans-serif;
}
.welcome{
    font-family: 'Roboto Mono', monospace;
    width: 100%;
    top: 50%;
    position: absolute;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
}

.success{
    margin: 5px auto;
    background-color: rgb(7, 143, 7);
    color: white;
    border: none;
    padding: 5px 15px;
    font-size: 30px;
    font-weight: bold;
    
}